@import url("http://fonts.googleapis.com/css?family=Archivo+Narrow:400,700");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css");
//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css");
//@import url("https://use.fontawesome.com/releases/v5.0.0/css/all.css");



@import "vendor/fancybox";
@import "vendor/animate";
// @import "vendor/font-awesome-animation";


// color
$primary-color: #52A9D4;
$light-gray: #ededed;
$dark-gray: #333333;

body {background:$dark-gray; color:$dark-gray; font-family:Helvetica, Arial, "Lucida Grande", sans-serif;  }
a {color: $primary-color;}
a:hover {text-decoration:none; color:$primary-color;}
h1 {color:$dark-gray; font-size:38px; margin:15px 0 25px; text-align:center; font-weight:bold; line-height:1; font-family:'Archivo Narrow', sans-serif;}
h2 {font-weight:normal; font-family: 'Archivo Narrow', sans-serif; text-align: center; color:$primary-color; margin-bottom: 25px;}
h2 span {color:$primary-color;}
.logo {fill:$primary-color; width:90%;}


// utility
.vertical-center {position:absolute; top:40%; transform:translateY(-50%); }
.gutter-bottom {margin-bottom:15px;}
.gutter-top {margin-top:15px;}

/* page */

.page {background:#fff; min-height:300px;}
.page {padding: 80px 0 20px;}
.gutter-bottom {margin-bottom: 15px;}
.gutter-top {margin-top: 15px;}

.form-control {font-size: 16px;}
.highlight {font-weight: bold;}
.title {font-size:16px; margin:7px 0 0;}

.shots-item {margin:0 0px 30px;}
.shots-item img {border:1px solid #E1E8ED;}
.author {font-size:12px; color:#999; margin:0 0 0; text-align: left;}
.pin-item {font-size:20px; margin:20px 0 10px;}
a.pin-tag {color:#999; margin-top:5px; font-size:12px; background:#f1f1f1; padding:2px 5px; border-radius:4px; display: inline-block;}
a.pin-tag:hover {background: #ccc; color:#fff;}
.pinboard-links {padding:15px 0 35px; margin-top:20px;}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.instagram-group {
    background: $light-gray;
}


/*
.pin-item {
       display: inline-block;
       font: normal normal normal 14px/1 FontAwesome;
       font-size: inherit;
       text-rendering: auto;
       -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
       position: absolute;
       right: 0;
       color: red;
   }
   .pin-item:before {
       content: "\f2c3";
   }
*/

/* header */
header {text-align:center; font-size:16px; font-family:'Archivo Narrow', sans-serif; background:#333; }
.site-menu a { transition:  0.5s; color:#ccc; display:block; padding:10px 0; text-transform: uppercase; text-decoration:none; text-align:center;}
.site-menu a.active, .site-menu a.active:hover {
    color:$primary-color;
}
.site-menu a:hover {
    transition:  0.5s;
//    color:$primary-color;
color:#fff;
}
.site-menu a .site-menu-label {font-size:14px; margin-top:3px;}

.page-header {
    border-bottom:7px solid $primary-color;
    position: fixed;
    //background: #fff;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: top 0.6s;
    -moz-transition: top 0.6s;
    transition: top 0.6s;
    z-index: 100;
    padding-bottom: 0;
    margin: 0 0 0;
}
.page-header.off-canvas {top: -105px;}
.page-header.fixed {
  top: 0;
  z-index: 9999;
}

//.animated { visibility: visible !important; }
.page-content {
    opacity: 0;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-iteration-count: 1;
}
.page-header {
    animation-duration: 300ms;
    animation-delay: 400ms;
    animation-iteration-count: 1;
}

// form
.error-msg {color:#a94442; margin-top:5px;}
.form-control:focus {border-color:$primary-color; outline:0; box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82, 169, 212, 0.6);}

// buttons
.btn-woody {color:$primary-color; border-color:$primary-color;}
.btn-woody:hover, .btn-woody:focus, .btn-woody:active {background:$primary-color; color:#fff; border-color:$primary-color;}

.page-top {
    animation-duration: 300ms;
	animation-delay: 400ms;
	animation-iteration-count: 1;
}



// portfolio
.sandbox-site {display:none;}
.sandbox-site .portfolio-group-item {opacity:0;}
.portfolio-group {margin:10px 0 15px 0;}
.portfolio-group-item {
	height:150px;
	border:1px solid #fff;
	border-top:1px solid #ddd;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.14), 0 2px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	position:relative;
	margin-bottom:15px;
	background:#fff;
	text-align:center;
	margin-left:auto;
	margin-right:auto;


	animation-duration: 300ms;
	animation-delay: 400ms;
	animation-iteration-count: 1;
	opacity: 0;

}
.portfolio-group-item.fadeInUp {
	opacity: 1;
}
.portfolio-group-item.portfolio-group-disabled {background:#fff; color:#ccc;}
.portfolio-group-item.portfolio-group-disabled .portfolio-name {color:#ccc;}
.portfolio-name {font-family:'Archivo Narrow', sans-serif; font-weight:normal; line-height: 1.2; font-size:26px; text-align:center; margin:0; width:100%; color:#333;}
.portfolio-name svg {width:75%;}
.portfolio-name a {display: block; text-decoration:none; color:#333;}

.portfolio-launch {margin:0; position:absolute; top:-5px; width:100%; opacity:0; color:#999;}

.portfolio-link {margin:0; position:absolute; bottom:-5px; width:100%; opacity:0;}
.portfolio-link a {color:#333; display:block; line-height:24px; text-decoration:none;}
.portfolio-link a:hover {text-decoration:none;}
.portfolio-link .list-inline {margin:10px 5px;}
.portfolio-link .list-inline > li {padding-left: 10px; padding-right: 10px;}
.portfolio-link .list-inline > li:first-child {padding-left: 0;}
.portfolio-link .list-inline > li:last-child {padding-right: 0;}


.portfolio-group-item:hover .portfolio-link {transition:all 0.3s ease 0s; transform:translateY(-11px); opacity:1;}
.portfolio-group-item:hover .portfolio-launch {transition:all 0.3s ease 0s; transform:translateY(15px); opacity:1;}
.portfolio-group-item:hover .portfolio-name {opacity: 0.2;}

.portfolio-touchofclass svg {width:70%;}
.portfolio-touchofclass:hover svg {fill:#951F2B;}
.portfolio-touchofclass .fa  {color:#951F2B;}
.portfolio-group-item.portfolio-touchofclass:hover {border:1px solid #951F2B; background: rgba(149,31,43, 0.02);}

.portfolio-wigs svg {fill:#aaa}
.portfolio-wigs svg:hover {fill:#f88379;}
.portfolio-wigs:hover svg {fill:#f88379;}
.portfolio-wigs .fa {color:#f88379;}
.portfolio-group-item.portfolio-wigs:hover {border:1px solid #f88379; background: rgba(248,131,121, 0.03);}

.portfolio-pear svg {width:48%;}
//.portfolio-pear:hover svg {fill:#91B7BE;}
.portfolio-pear .fa {color:#91B7BE;}
.portfolio-group-item.portfolio-pear:hover {border-color: #91B7BE; background: rgba(146, 184, 191, 0.1);}

.portfolio-dawn svg {width:50%;}
.portfolio-dawn:hover svg {fill:#f65c7b;}
.portfolio-dawn .fa  {color:#f65c7b;}
.portfolio-group-item.portfolio-dawn:hover {border: 1px solid #f65c7b; background: rgba(246, 92, 123, 0.02);}

.portfolio-bern:hover svg {fill:#D59F0F;}
.portfolio-bern .fa {color:#D59F0F;}
.portfolio-group-item.portfolio-bern:hover {border: 1px solid #D59F0F;  background: rgba(213, 159, 15, 0.02);}


.portfolio-hale svg {width:30%;}
.portfolio-hale .fa {color:#d34927;}
.portfolio-hale:hover svg {fill:#d34927;}
.portfolio-group-item.portfolio-hale:hover {border: 1px solid #d34927; background: rgba(211, 73, 39, 0.02);}

.portfolio-ramp img {display:block; width:70%;}
.portfolio-ramp img:last-child {display:none}
.portfolio-ramp:hover img:first-child {display:none}
.portfolio-ramp:hover img:last-child {display:block}
.portfolio-ramp .fa {color:#B2002F;}
.portfolio-group-item.portfolio-ramp:hover {border: 1px solid #1B406F; background:rgba(0, 61, 115, 0.03);}

.portfolio-acorn img {display:block; width:70%;}
.portfolio-acorn:hover svg {fill:#810c0c;}
.portfolio-acorn img:last-child {display:none}
.portfolio-acorn:hover img:first-child {display:none}
.portfolio-acorn:hover img:last-child {display:block}
.portfolio-acorn .fa {color:#810c0c;}
.portfolio-group-item.portfolio-acorn:hover {border: 1px solid #810c0c;}

.portfolio-travers svg {width:60%;}
.portfolio-travers:hover svg {fill:#053979;}
.portfolio-travers .fa {color:#1f9900;}
.portfolio-group-item.portfolio-travers:hover {border: 1px solid #053979;  background:rgba(5, 57, 121, 0.03);}

.portfolio-arms:hover svg {fill:#ff7f00;}
.portfolio-arms .fa {color:#ff7f00;}
.portfolio-group-item.portfolio-arms:hover {border: 1px solid #ff7f00;}


.portfolio-jbbq img {display:block; width:60%;}
.portfolio-jbbq img:last-child {display:none}
.portfolio-jbbq:hover img:first-child {display:none}
.portfolio-jbbq:hover img:last-child {display:block}
.portfolio-jbbq .fa {color:#b04b3c;}
.portfolio-group-item.portfolio-jbbq:hover {border: 1px solid #b04b3c; /*background:rgba(212, 48, 24,0.01);*/}

.portfolio-rtea:hover svg {fill:#566c11;}
.portfolio-rtea .fa {color:#b32317;}
.portfolio-group-item.portfolio-rtea:hover {border: 1px solid #566c11; background:rgba(86, 108, 17, 0.03);}


.portfolio-kalio:hover svg {fill:#6cb33f;}
.portfolio-kalio .fa {color:#6cb33f;}
.portfolio-group-item.portfolio-kalio:hover {border: 1px solid #6cb33f;}



.social-icons {margin:20px 0; text-align: center;}
.social-icons .genericon {margin:5px 0;}
.social-site {background:$primary-color; color:#fff; padding:7px; text-align:center; margin:0 -15px 10px; font-size:26px; font-family: 'Archivo Narrow', sans-serif;}
.social-site .genericon {margin-right:5px;}
.social-site a {color:#fff;}
.social-site a div {font-size:14px;}

p { margin: 10px 0 }
img { max-width: 100%; }

.avatar {width:128px; margin:10px auto;}
.avatar img {padding:0; border:1px solid #ccc; background:#fff;}

.menu-item {height:67px;}

/* home */
.logo {margin:20px 0 10px;}
.card {text-align:center; position:relative; margin-bottom:0;}
.card h1 {font-weight: bold;}
.card h2 {color:#333; margin:15px 0 5px;}
.card h2 span {color:#ccc;}
.card h1 {margin-bottom:0;}
.card h1, .card h2 {text-align:center;}

.bio {background:$light-gray; padding: 15px 0; margin-bottom: 0; /*background-image: linear-gradient(120deg, #fdfbfb 0%, #efefef 100%);*/ }
.bio p {font-size:16px; line-height:22px;}

a .fa-linkedin-square:hover {color:#007bb6;}
a .fa-medium:hover {color:#00ab6b;}
a .fa-instagram:hover {color:#000000;}
a .fa-twitter:hover, .social-site.twitter a:hover {color:#00aced;}
a .fa-dribbble:hover {color:#ea4c89;}
a .fa-github:hover, .social-site.github a:hover,  .github .rss-que a:hover, .github .rss-que a:hover .fa, .github .rss-que a:hover .pubdate {color:#4183c4;}
a .fa-thumb-tack:hover, .social-site.pinboard a:hover,  .pinboard .rss-que a:hover, .pinboard .rss-que a:hover .fa, .pinboard .rss-que a:hover .pubdate {color:#0000e6;}
a .fa-get-pocket:hover, .social-site.pocket a:hover, .pocket .rss-que a:hover, .pocket .rss-que a:hover .fa, .pocket .rss-que a:hover .pubdate {text-decoration:none; color:#ef4056;}

.widget {margin:0 auto; display: block;}
a .fa-refresh {color:#333;}

.error-message  {color:#A94442;}
.form-control-feedback {display:none;}
.fa-heart {font-size: .85em; line-height: .75em; color:#ea4c89;}

.dribble-shots img {border:1px solid #eee; border-radius:3px; padding:3px; background:#fff; margin-bottom:15px;}

.twitter-wrap {min-height:200px; margin:0 auto; text-align: center;}
.twitter-wrap .fa {color:#333;}
.twitter-badge.twitter-page {position:absolute; right:20px; top:15px;}
.twitter-badge {text-align:center}

/* portfolio  */
.portfolio h3 {text-align:center; font-family:'Archivo Narrow', sans-serif; margin:10px 0;}
.link-site {margin:0; line-height:36px; margin:10px 0 0;}

/* footer  */
footer {border-top:7px solid $primary-color;}
footer a {color:#ccc;}



@media (min-width : 321px) {
	.site-nav li {font-size:18px;}
	.navbar-site li {width:33.333%;}
}

/* Small devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    .bio {padding:30px 0;}
    h1 {font-size:42px;}
    .vertical-center {top:50%; }
    .portfolio-link {opacity:0;}
    .portfolio-group-item {height:200px;}
    .portfolio-group-item {margin-bottom:20px;}
    .portfolio-group-item:hover .portfolio-name {opacity: 1;}
	.logo {width:100%;}
    .social-site {background:none; color:#333;}
    .social-site a {color:#333;}
	.site-menu .fa { font-size: 1.33333333em; line-height: .75em; vertical-align: -15%;} /* fa-lg */
	.site-menu a .site-menu-label {font-size:16px;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
	.logo {width:70%;}
    .rss-que {margin:0 0 20px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) {
	.bio {margin:0 0 20px 0;}
}
