@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
body {
  background: #333;
  color: #333;
  font-family: Helvetica, Arial, "Lucida Grande", sans-serif; }

a {
  color: #52A9D4; }

a:hover {
  text-decoration: none;
  color: #52A9D4; }

h1 {
  font-size: 38px;
  margin: 15px 0 25px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
  font-family: 'Archivo Narrow', sans-serif; }

h2 {
  font-weight: normal;
  font-family: 'Archivo Narrow', sans-serif; }

h2 span {
  color: #52a9d4; }

.logo {
  fill: #52a9d4;
  width: 90%; }

.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

/* page */
.wrapper {
  margin: 0;
  border: 7px solid #52A9D4; }

.page {
  padding: 20px 0;
  background: #fff;
  min-height: 300px; }

/* header */
header {
  text-align: center;
  font-size: 16px;
  font-family: 'Archivo Narrow', sans-serif;
  background: #ededed;
  border-bottom: 1px solid #ddd; }

header a, header a:hover {
  color: #333; }

.site-menu a {
  color: #000;
  display: block;
  padding: 10px 0;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center; }

.site-menu a.active {
  color: #52A9D4; }

.site-menu a .site-menu-label {
  font-size: 14px; }

.portfolio-group {
  margin: 25px 0 15px 0; }

.portfolio-group-item {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  border: 2px solid #eee;
  background: #fff;
  height: 100px;
  text-align: center; }

.portfolio-group-item a:last-child {
  font-weight: bold; }

.portfolio-group-item.portfolio-group-disabled {
  background: #fff; }

.portfolio-group-item.portfolio-group-disabled .portfolio-name {
  color: #ccc; }

.portfolio-name {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 32px;
  text-align: center;
  margin: 0;
  width: 100%;
  font-weight: bold;
  color: #333; }

.portfolio-name a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: #333; }

.portfolio-group-item:hover {
  border-color: #52A9D4; }

.portfolio-link {
  margin: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  opacity: 0; }

.portfolio-link a {
  color: #52A9D4;
  display: block;
  line-height: 22px; }

.portfolio-group-item:hover .portfolio-link {
  transition: all 0.3s ease 0s;
  transform: translateY(-15px);
  opacity: 1; }

.portfolio-dawn svg {
  width: 70%; }

.portfolio-dawn:hover {
  border-color: #f65c7b; }

.portfolio-dawn:hover svg {
  fill: #f65c7b; }

.portfolio-dawn a {
  color: #575a5d; }

.portfolio-pear svg {
  width: 70%; }

.portfolio-pear:hover {
  border-color: #91B7BE; }

.portfolio-pear:hover svg {
  fill: #91B7BE; }

.portfolio-pear a {
  color: #91B7BE; }

.portfolio-hale svg {
  width: 40%; }

.portfolio-hale:hover {
  border-color: #d34927; }

.portfolio-hale:hover svg {
  fill: #d34927; }

.portfolio-hale a {
  color: #584e3f; }

.portfolio-bern svg {
  width: 80%; }

svg:hover .goldb {
  fill: #D59F0F; }

.portfolio-bern:hover {
  border-color: #D59F0F; }

.portfolio-bern a {
  color: #D59F0F; }

.portfolio-arms svg {
  width: 80%; }

.portfolio-arms:hover {
  border-color: #918a6f; }

.portfolio-arms a {
  color: #918a6f; }

.portfolio-rtea svg {
  width: 80%; }

.portfolio-rtea:hover {
  border-color: #566c11; }

.portfolio-arms:hover svg {
  fill: #b32317; }

.portfolio-rtea a {
  color: #566c11; }

.social-site {
  background: #52a9d4;
  color: #fff;
  padding: 7px;
  text-align: center;
  margin: 15px -15px 10px;
  font-size: 22px;
  font-family: 'Archivo Narrow', sans-serif; }

.social-site .genericon {
  margin-right: 5px; }

.social-site a {
  color: #fff; }

.social-site a div {
  font-size: 14px; }

p {
  margin: 10px 0; }

img {
  max-width: 100%; }

.avatar {
  width: 128px;
  margin: 10px auto; }

.avatar img {
  padding: 0;
  border: 1px solid #ccc;
  background: #fff; }

/* home */
.logo {
  margin: 15px 0 10px; }

.card {
  text-align: center;
  position: relative;
  margin-bottom: 20px; }

.card h1 {
  margin-bottom: 0; }

.card h1, .card h2 {
  text-align: center; }

.social-icons {
  margin: 20px 0 30px; }

.social-icons .genericon {
  margin: 5px 0; }

.bio p {
  font-size: 16px;
  line-height: 22px; }

a .fa-linkedin-square:hover {
  color: #007bb6; }

a .fa-twitter:hover, .social-site.twitter a:hover {
  color: #00aced; }

a .fa-dribbble:hover {
  color: #ea4c89; }

a .fa-github:hover, .social-site.github a:hover, .github .rss-que a:hover, .github .rss-que a:hover .fa, .github .rss-que a:hover .pubdate {
  color: #4183c4; }

a .fa-thumb-tack:hover, .social-site.pinboard a:hover, .pinboard .rss-que a:hover, .pinboard .rss-que a:hover .fa, .pinboard .rss-que a:hover .pubdate {
  color: #0000e6; }

a .fa-get-pocket:hover, .social-site.pocket a:hover, .pocket .rss-que a:hover, .pocket .rss-que a:hover .fa, .pocket .rss-que a:hover .pubdate {
  text-decoration: none;
  color: #ef4056; }

.widget {
  margin: 0 auto;
  display: block; }

.content-loading .fa-refresh {
  margin-top: 15px; }

.error-message {
  color: #A94442; }

.form-control-feedback {
  display: none; }

.rss-que {
  font-size: 14px;
  margin: 20px 0; }

.rss-que .post {
  margin-left: 23px; }

.rss-que .genericon {
  color: #ccc;
  font-size: 18px;
  float: left; }

.rss-que a {
  color: #333;
  display: block;
  line-height: 18px; }

.rss-que li .fa {
  color: #ccc;
  float: left;
  line-height: 24px; }

.rss-que ul {
  margin: 0;
  padding: 0; }

.rss-que li {
  list-style-type: none;
  margin-bottom: 10px; }

.pubdate {
  color: #999;
  font-size: 12px;
  margin-top: 2px; }

/*.rss-que a:hover, .rss-que a:hover .fa, .rss-que a:hover .pubdate {text-decoration:none; color:#52a9d4;}*/
.dribble-shots img {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 3px;
  background: #fff;
  margin-bottom: 15px; }

.twitter-wrap {
  min-height: 200px;
  margin: 0 auto;
  text-align: center; }

.twitter-wrap .fa {
  color: #333; }

.twitter-badge.twitter-page {
  position: absolute;
  right: 20px;
  top: 15px; }

.twitter-badge {
  text-align: center; }

/* portfolio  */
.portfolio h3 {
  text-align: center;
  font-family: 'Archivo Narrow', sans-serif;
  margin: 10px 0; }

.link-site {
  margin: 0;
  line-height: 36px;
  margin: 10px 0 0; }

/* footer  */
footer {
  background: #DDF0F8;
  padding: 10px 0;
  text-align: center; }

footer a, footer a:hover {
  color: #333; }

@media (min-width: 321px) {
  .site-nav li {
    font-size: 18px; }

  .navbar-site li {
    width: 33.333%; }

  .portfolio-group-item {
    height: 200px; } }
/* Small devices (tablets, 768px and up)  */
@media (min-width: 768px) {
  .logo {
    width: 100%; }

  .social-site {
    background: none;
    color: #333; }

  .social-site a {
    color: #333; }

  .site-menu .fa {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%; }

  /* fa-lg */
  .site-menu a .site-menu-label {
    font-size: 16px; } }
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .logo {
    width: 70%; }

  .rss-que {
    margin: 0 0 20px; } }
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .bio {
    margin: 0 0 20px 0; }

  .wrapper {
    width: 1200px;
    margin: 15px auto; } }
