
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

/* variables */

/*
@navbar-border-radius: 0;
@nav-link-hover-bg: #52a9d4;
*/

body {background:#333; color:#333; font-family:Helvetica, Arial, "Lucida Grande", sans-serif; }
a { color: #52A9D4;}
a:hover {text-decoration:none; color:#52A9D4;}
h1 {font-size:38px; margin:15px 0; text-align: center; font-weight: bold; line-height:1; font-family:'Archivo Narrow', sans-serif;}
h2 {line-height:1.3; margin:15px 0 5px; font-size:22px; font-weight:normal;  font-family: 'Archivo Narrow', sans-serif;}
h2 span {color:#52a9d4;}

/* forms */
.form-control {font-size:16px;}

/* page */
.wrapper {background:#fff; margin:0; border:5px solid #52A9D4; overflow:hidden; }
.page {padding:20px 0; background:#fff;  overflow:auto; }

/* header */
nav {background:#e7e7e7; }
.navbar-site {margin:0; min-height:0; border-top:0; padding:0;}
.navbar-site a {padding:0 15px;}
.navbar-site a:hover {color:#000;}

.navbar-site li {display:inline-block; text-transform:uppercase; line-height:36px;}
.navbar-site li.active {background:#52a9d4;}
.navbar-site li.active a {color:#fff;}

header {text-align:center; font-size:16px; font-family:'Archivo Narrow', sans-serif;}
header a, header a:hover {color:#333;}

.social-site {background:#52a9d4; color:#fff; padding:7px; text-align:center; margin:15px -15px 10px; font-size:22px; font-family: 'Archivo Narrow', sans-serif;}
.social-site .genericon {margin-right:5px;}
.social-site a {color:#fff;}
p { margin: 10px 0 }
img { max-width: 100%; }

.avatar {width:128px; margin:10px auto;}
.avatar img {padding:0; border:1px solid #ccc; background:#fff;}


/* home */
.logo {margin:25px auto; display:block; border:0;}
.card {text-align:center; position:relative; margin-bottom:20px;}
.card h1 {margin-bottom:0;}
.card h1, .card h2 {text-align:center;}
.social-icons {margin:0 0 20px;}
.social-icons .genericon {margin:5px 0;}

a .fa-linkedin-square:hover {color:#007bb6;}
a .fa-twitter:hover {color:#00aced;}
a .fa-dribbble:hover {color:#ea4c89;}
a .fa-github:hover {color:#4183c4;}
a .fa-pinboard:hover {color:#4183c4;}

.widget {margin:0 auto; display: block;}
.content-loading .fa-refresh {margin-top:15px;}

.error-message  {color:#A94442;}
.form-control-feedback {display:none;}

.rss-que {font-size:14px; margin:20px 0}
.rss-que .post {margin-left:23px;}
.rss-que .genericon {color:#ccc; font-size:18px; float:left;}
.rss-que a {color:#333; display:block; line-height:18px;}
.rss-que li .fa {color:#ccc; float:left; line-height:24px;}
.rss-que ul {margin:0; padding:0;}
.rss-que li {list-style-type:none; margin-bottom:10px;}
.pubdate {color:#999; font-size:12px; margin-top:2px;}
.rss-que a:hover, .rss-que a:hover .fa, .rss-que a:hover .pubdate {text-decoration:none; color:#52a9d4;}

.dribble-shots img {border:1px solid #eee; border-radius:3px; padding:3px; background:#fff; margin-bottom:15px;}


.twitter-wrap {min-height:200px; margin:0 auto; text-align: center;}
.twitter-wrap .fa {color:#333;}
.twitter-badge.twitter-page {position:absolute; right:20px; top:15px;}
.twitter-badge {text-align:center}

/* portfolio  */
.portfolio h3 {text-align:center; font-family:'Archivo Narrow', sans-serif; margin:10px 0;}
.link-site {margin:0; line-height:36px; margin:10px 0 0;}

/* footer  */
footer {background:#DDF0F8; padding:10px 0; text-align:center;}
footer a, footer a:hover {color:#333;}


@media (min-width : 321px) {
	.site-nav li {font-size:18px;}
}


/* Small devices (tablets, 768px and up)  */
@media (min-width: 768px) {

    .social-site {background:none; color:#333;}
    .social-site a {color:#333;}
	/*body {margin:20px;}
	h2 { font-size: 22px;}



}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) {
	/*.container {max-width: 800px; min-height:400px;} */
    .wrapper {margin:20px; border-radius:10px; }
    .rss-que {margin:0 0 20px;}
  /*  .social-icons {margin-bottom:10px;} */
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px ) {

    .wrapper {width:1200px; margin:20px auto;}

}
